In [1]:
#Conforme o Livro Pandas Python
#Pandas%20Python%20Data%20Wrangling%20para%20Cie%CC%82ncia%20de%20Dados%20(Eduardo%20Corre%CC%82a)%20(z-lib.org).pdf

In [2]:
import pandas as pd

In [3]:
#cria a Series notas
notas = pd.Series([7.6, 5.0, 8.5, 9.5, 6.4])

In [5]:
notas[0]

7.6

In [29]:
#cria a Series alunos
lst_matriculas = ['M02','M085','M13','M14','M19']
lst_nomes = ['Bob','Dayse','Bill','Cris','Jimi']
lst_notas = notas.tolist()
alunos = pd.Series(lst_notas,index=lst_nomes)
#imprime as duas Series
print(notas); print("---------------"); print(alunos)

0    7.6
1    5.0
2    8.5
3    9.5
4    6.4
dtype: float64
---------------
Bob      7.6
Dayse    5.0
Bill     8.5
Cris     9.5
Jimi     6.4
dtype: float64

In [46]:
print(alunos[2:]) #Range

Bill    8.5
Cris    9.5
Jimi    6.4
dtype: float64

In [19]:
moedas = {'BR':'Real', 'FR': 'Euro',
'US':'Dólar'}

In [22]:
type(moedas)

dict

In [24]:
moedas

{'BR': 'Real', 'FR': 'Euro', 'US': 'Dólar'}

In [25]:
print(moedas["BR"])

Real

In [26]:
print(moedas["US"])

Dólar

In [49]:
tem_M13 = 'Jimi' in alunos

In [50]:
print(tem_M13)

True

In [59]:
myList = ['Bob']

In [60]:
alunos.isin(myList)

Bob      False
Dayse    False
Bill     False
Cris     False
Jimi     False
dtype: bool

In [61]:
tem_Bob = alunos.isin(['Bob'])

In [62]:
print(tem_Bob)

Bob      False
Dayse    False
Bill     False
Cris     False
Jimi     False
dtype: bool